body{
    background:darkslategray;
}
table
{
    border-color: antiquewhite;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border-style: groove;
    align-content: center;
    border-radius: 4px;
}
tr:hover
{
    background-color:  wheat;
    color: darkslategray;
}