    {% extends 'masterpage.html' %}
    {% block title %}
        dashboard
    {% endblock %}
    {% block head %}
        {{ super() }}

        <script type="text/javascript">
        var C1_pnames={{ _listProjnames|tojson }}
        var C1_Adays={{ _listAllotedDays|tojson }}
        var projissues={{ issues|tojson }}
        var allocatedf={{ allocatedfunds|tojson }}
        var releasef={{ releasedfunds|tojson }}

        {#var C2_lables={{  }}#}
        var C2_series=[{{ live_projects }},{{ total_projs-live_projects }}]

        {#var C3_lables={{  }}#}
        {#var C3_series={{  }}#}
        </script>

    {% endblock %}
        {% block menuButtons %}

        {% endblock %}
    {% block body %}
        {% block navbarlinks %}
        {% endblock %}
         <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <button class="card" id="projcard">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-server"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Projects*</p>
                                                {{ live_projects }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <button class="card" id="budgetcard">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-wallet"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Budget</p>
                                            {{ total_funds }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <button class="card" id="issuescard">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="ti-pulse"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Issues</p>
                                                {{ total_issues }}
                                        </div>
                                    </div>
                                </div>
{#                                <div class="footer">#}
{#                                    <hr />#}
{#                                    <div class="stats">#}
{#                                        <i class="ti-timer"></i> In the last hour#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </button>
                    </div>
                </div>

                <!-- On Project Issues Budget tab button click-->

                <div id="popupdiv" class="row" style="display: none; width: 100%;height: 500px">
                    <div class="col-md-12">
                        <div style="width: 100%; height: 100%" class="card">
                            <div class="header">
                                <button id="divpopclose" class="btn-danger" style="position:absolute; top: 0;right: 0;">
                                  <span>&bigtriangleup;</span>
                                </button>
                                <h4 class="title">Projects Overview</h4>
                            </div>
                            <div class="content">
                                <div id="chart5" class="ct-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button style="width: 100%; height: 100%" class="card">
                            <div class="header">
                                <h4 class="title">Projects Health</h4>
                                <p class="category">A Gantt Chart</p>
                            </div>
                            <div class="content">
                               <div id="chart1" class="ct-chart ct-horizontal-bars"></div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button style="width: 100%" class="card">
                            <div class="header">
                                <h4 class="title">Projects Status</h4>
                                <p class="category">Overall Status of Projects</p>
                            </div>
                            <div class="content">
                                <div id="chart2" class="ct-chart"></div>
                            </div>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button style="width: 100%" class="card ">
                            <div class="header">
                                <h4 class="title">Budget Overview</h4>
                                <p class="category">Planned vs Actual Cost</p>
                            </div>
                            <div class="content">
                                <div id="chart3" class="ct-chart"></div>
{#                                <div class="footer">#}
{#                                    <div class="chart-legend">#}
{#                                        <i class="fa fa-circle text-info"></i> Tesla Model S#}
{#                                        <i class="fa fa-circle text-warning"></i> BMW 5 Series#}
{#                                    </div>#}
{#                                    <hr>#}
{#                                    <div class="stats">#}
{#                                        <i class="ti-check"></i> Data information certified#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='samplechart.js') }}"></script>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" style="background: rgba(000, 000, 000, 0.8); min-height:1000000px;"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div style="width: 100%; height: 100%" class="card">
                            <div class="header">
                                <h4 class="title">Projects Health</h4>
                                <p class="category">A Gantt Chart</p>
                            </div>
                            <div class="content">
                                <div id="chart1" class="ct-chart ct-horizontal-bars"></div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <script>
            $(function() {
                $("#divpopclose").click(function () {
                     $("#popupdiv").hide();
                });

                $( "#projcard" ).click(function() {
                    $("#popupdiv").show(function () {
                        $(this).data('clicked',true);
                        var chartee = new Chartist.Pie('#chart5', {
                          series: C2_series,
                          labels: ['In Progress','Completed']
                        }, {
                            showLabel: true,
                            plugins:[Chartist.plugins.tooltip()]
                        });
                    });
                });
                $( "#budgetcard" ).click(function() {
                    $("#popupdiv").show(function () {
                        $(this).data('clicked',true);
                        var chartee = new Chartist.Bar('#chart5', {
                          series: [allocatedf,releasef],
                          labels: C1_pnames
                        },{
                            seriesBarDistance: 30,
                            horizontalBars: false,
                            axisY: {
                              offset:100
                            },
                            axisX: {
                              offset:70
                            },
                            plugins: [
                              Chartist.plugins.ctAxisTitle({
                                axisX: {
                                  axisTitle: 'Projects',
                                  axisClass: 'ct-axis-title',
                                  offset: {
                                    x: -60,
                                    y: 70
                                  },
                                  textAnchor: 'middle'
                                },
                                axisY: {
                                  axisTitle: 'Budget',
                                  axisClass: 'ct-axis-title',
                                  offset: {
                                    x: 0,
                                    y: 0
                                  },
                                  textAnchor: 'top',
                                  flipTitle: true
                                }
                              }),
                              Chartist.plugins.tooltip()
                            ]});
                    });
                });
                $( "#issuescard" ).click(function() {
                    $("#popupdiv").show(function () {
                        $(this).data('clicked',true);
                        var chartee = new Chartist.Line('#chart5', {
                          series: [projissues],
                          labels: C1_pnames
                        },{
                            axisY: {
                              offset:100
                            },
                            axisX: {
                              offset:70
                            },
                            plugins: [
                              Chartist.plugins.ctAxisTitle({
                                axisX: {
                                  axisTitle: 'Projects',
                                  axisClass: 'ct-axis-title',
                                  offset: {
                                    x: -60,
                                    y: 70
                                  },
                                  textAnchor: 'middle'
                                },
                                axisY: {
                                  axisTitle: 'Issues',
                                  axisClass: 'ct-axis-title',
                                  offset: {
                                    x: 0,
                                    y: 0
                                  },
                                  textAnchor: 'top',
                                  flipTitle: true
                                }
                              }),
                              Chartist.plugins.tooltip()
                            ]});
                    });
                });
            });
        </script>

    {% endblock %}
