    {% extends 'masterpage.html' %}
    {% block head %}
        {{ super() }}

        <script src="{{ url_for('static', filename='samplechart.js') }}" xmlns=""></script>
        <script src="{{ url_for('static', filename='chartist-plugin-axistitle.js') }}"></script>

    {% endblock %}
    {% block menuButtons %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Deliverables</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-plus"></i>
                                <p>New Deliverable</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <input id="search" style="border-radius: 1em;"  placeholder="Search Deliverable...">

                              </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block body %}
        {% block navbarlinks %}
        {% endblock %}
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Deliverables</h4>
                                        <p class="category">In Process</p>
                                    </div>
                                    <div class="content table-responsive table-full-width table-wrapper-scroll-y">
                                        <table id="dels" class="table table-striped">
                                            <thead>
                                                <th>Deliverable</th>
                                                <th>Description</th>
                                                <th>Priority</th>
                                            </thead>
                                            <tbody>
                                                {% for result in delsComp %}
                                                    <tr style="background-color: yellowgreen;">
                                                        <td style="display:none;">{{ result.del_id }}</td>
                                                        <td>{{ result.del_name}}</td>
                                                        <td>{{ result.del_desc}}</td>
                                                        <td>{{ result.priority }}</td>
                                                        <td><button class="btn btn-dark">Edit</button></td>
                                                    </tr>
                                                {% endfor %}
                                                {% for result in delsIncomp %}
                                                    <tr>
                                                        <td style="display:none;">{{ result.del_id }}</td>
                                                        <td>{{ result.del_name}}</td>
                                                        <td>{{ result.del_desc}}</td>
                                                        <td>{{ result.priority }}</td>
                                                        <td><button class="btn btn-dark">Edit</button></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="EditDelForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
{#                    <h5 class="modal-title" id="exampleModalLongTitle">Project Details</h5>#}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        <div class="container-contact100">
                            <div class="wrap-contact100">
                            <h6 align="center">{{ error }}</h6>
                                <form class="contact100-form validate-form" method="post">
                                    <span class="contact100-form-title">
                                        Edit Deliverable
                                    </span>

                                    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type Project Name">
                                        <span class="label-input100">DELIVERABLE NAME</span>
                                        <input id="editpname" class="input100" type="text" name="project_name">
                                    </div>

                                    <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Please Type Your Message">
                                        <span class="label-input100">Deliverable Description</span>
                                        <textarea id="editpdesc" class="input100" name="desc"></textarea>
                                    </div>

                                    <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
                                        <span class="label-input100">Select Priority</span>
                                        <div>
                                            <select id="editppriority" class="js-select2" name="priority">
                                                <option>Please choose</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>

                                    <div class="container-contact100-form-btn">
                                        <button id="editdelivbtn" class="contact100-form-btn">
                                            <span>
                                                Confirm
                                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   </div>
                </div>
              </div>
            </div>


        <!-- Modal -->
            <div class="modal fade" id="activitymodal" tabindex="-1" role="dialog" aria-labelledby="activitymodalTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="activitymodalTitle">Deliverable Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title" id="del_name"></h4>
                                            <ul class="nav navbar-nav navbar-right">
                                                <li class="dropdown">
                                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                            <input id="searchActivity" style="border-radius: 1em; border-color: "  placeholder="Search Activity...">
                                                            <button id="search_barActivity"><i class="ti-search btn-icon"></i></button>
                                                      </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="content table-responsive table-full-width">
                                            <span class="title-uppercase"> Description</span>
                                            <p class="category" id="del_description"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" >
                                    <div class="card" style="text-align: center">
                                        <div class="header">
                                            <h4 class="title">Activities</h4>
                                            <p class="category">Activities Details</p>
                                        </div>
                                        <div class="content table-responsive table-full-width">
                                            <table id="activitiestbl" class="table">

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content" id="editactivitydiv" style="display: none">
                        <div class="container-contact100">
                            <div class="wrap-contact100">
                            <h6 align="center">{{ error }}</h6>
                                <form class="contact100-form validate-form" method="post">
                                    <span class="contact100-form-title">
                                        Edit Activity
                                    </span>

                                    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type Project Name">
                                        <span class="label-input100">ACTIVITY NAME</span>
                                        <input id="editActivityname" class="input100" type="text" name="activity_name">
                                    </div>
                                    <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
                                        <span class="label-input100">Select Member</span>
                                        <div>
                                            <select id="editActivityAssto" class="js-select2" name="team_member">
                                            <option>Please choose</option>
                                            {% for member in members %}
                                            <option>{{ member.username }}</option>
                                            {% endfor %}
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>


                                    <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
                                        <span class="label-input100">Select Priority</span>
                                        <div>
                                            <select id="editActivitypriority" class="js-select2" name="activity_priority">
                                                <option>Please choose</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>

                                    <div class="container-contact100-form-btn">
                                        <button class="contact100-form-btn" id="editactivitybtn">
                                            <span>
                                                Confirm
                                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">Comments</h4>
                                        </div>
                                        <div class="content table-responsive table-full-width" style="text-align: center">
                                            <div id="comments_section">
                                                COMMENTS LOADING....
                                            </div>
                                            <br>
                                            <hr>
                                            <div class="header" style="display: inline">
                                                <h4 class="title">Add Comments</h4>
                                            </div>
                                            <br>
                                            <hr>
                                            <form id="add_commentform" style="align-content: center;display: none">
                                                <p class="category">Title</p>
                                                <input id="ctitle" placeholder="Title..." style="color: black"><br>
                                                <br>
                                                <hr>
                                                <p class="category">Description</p>
                                                <input id="cdesc" placeholder="Description..." width="100%" style="color: black">
                                                <br>
                                                <hr>
                                                <p class="category">Type</p>
                                                <select id="ctype" name="projtype" class="dropdown">
                                                    <option value="simple" class="text-primary">Simple</option>
                                                    <option value="issue" class="text-primary">Issue</option>
                                                </select>
                                                <br>
                                                <hr>
                                                <button id="submit_comment_btn" class="btn btn-primary" type="submit">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

        <!------------------------------------------ Search Deliverabletbl Function ------------------------------------------>
        <script>
            var proj={{ projid }}
            $("#search").on("keyup", function() {
                var value = $(this).val();

                $("#dels tr ").each(function(index) {
                    if (index !== 0) {

                        $row = $(this);

                        var id = $row.find("td:nth-child(2)").text();

                        if (id.indexOf(value) !== 0) {
                            $row.hide();
                        }
                        else {
                            $row.show();
                        }
                    }
                });
            });
        </script>

        <!------------------------------------------ Search Activitiestbl Function ------------------------------------------>
        <script>
            var proj={{ projid }}
            $("#searchActivity").on("keyup", function() {
                var value = $(this).val();

                $("#activitiestbl tr ").each(function(index) {
                    if (index !== 0) {

                        $row = $(this);

                        var id = $row.find("td:nth-child(2)").text();

                        if (id.indexOf(value) !== 0) {
                            $row.hide();
                        }
                        else {
                            $row.show();
                        }
                    }
                });
            });
        </script>
        <!------------------------------------------Close Project------------------------------------------>

        <script>
            /*var proj={{ projid }}
            $(function() {
                $( "#projs tr td:nth-child(6)" ).click(function() {
                    $(this).data('clicked', true);
                    var p_id=$(this).closest('tr').children().closest("td").html();
                    alert(p_id);

                    $.ajax({
                        data:{
                            p_id: p_id
                        },
                        type: 'POST',
                        url: 'http://127.0.0.1:5000/closeproject'
                        })
                        .done(function (data) {
                                if (data.error){
                                    alert('Please Wait ...');
                                }
                                else {
                                    location.reload(true);
                                }
                            });
                        event.preventDefault();
                });
            });*/
        </script>


        <!------------------------------------------Edit Deliverable Pop-up------------------------------------------>
        <script>
            var proj = {{ projid }};
            var delid;
            var activityid;
            $(function() {
                $( "#dels tr td:nth-child(5)" ).click(function() {
                    alert('child');
                    $(this).data('clicked', true);
                    delid=$(this).closest('tr').children().closest("td").html();
                    alert(delid);
                    $("#EditDelForm").modal('toggle');

                    $.ajax({
                        data:{
                            delid: delid,
                            proj:proj
                        },
                        type: 'POST',
                        url: 'http://127.0.0.1:5000/getDel_Editdetails'
                        })
                            .done(function (data) {
                                if (data.error){
                                    alert('Please Wait ...');
                                }
                                else {
                                    var jsonobj=data.DeditDet;
                                    $(jsonobj).each(function () {
                                        var row= $(this)[0];
                                        $("#editpname").val(row["del_name"])
                                        $("#editpdesc").val(row["del_desc"])
                                        $("#editppriority").val(row["priority"])
                                    });
                                }
                            });
                        event.preventDefault();
                });
            });

            //------------------------------------------Confirm Edit Deliverable btn------------------------------------------>
            $(function () {
                $("#editdelivbtn").click(function () {
                    var pname=$("#editpname").val();
                    var pdesc=$("#editpdesc").val();
                    var ppriority=$("#editppriority").val();

                    $.ajax({
                        data: {
                            proid: proj,
                            delid: delid,
                            pname: pname,
                            pdesc: pdesc,
                            ppriority: ppriority
                        },
                        type: 'POST',
                        url: 'http://127.0.0.1:5000/confirmEditDel'
                    })
                        .done(function (data) {
                            if (data.error) {
                                alert('Please Wait ...');
                            }
                            else {
                            }
                        });
                    event.preventDefault();
                });
            });

        //------------------------------------------Deliverable's Activities Pop-up------------------------------------------>
            var proj = {{ projid }};
            var delid;
            var activityid;
            $(function() {
                    $( "#dels tr td:nth-child(5)" ).data('clicked',true);
                    $("#dels tr").click(function () {
                        alert('parent');
                        if(($(this).find(':nth-child(5)').data('clicked')===false)) {
                        delid = $(this).children().closest("td").html();
                        var Delname = $(this).find(':nth-child(2)').html();
                        var Deldesc = $(this).find(':nth-child(3)').html();
                        $("#del_name").html(Delname);
                        $("#del_description").html(Deldesc);
                        $("#add_commentform").hide();
                        $("#editactivitydiv").hide();
                        $("#activitymodal").modal('toggle');
                        $("#del_name").html();
                        $.ajax({
                            data: {
                                delid: delid,
                                proid: proj
                            },
                            type: 'POST',
                            url: 'http://127.0.0.1:5000/getactivities'
                        })
                            .done(function (data) {
                                if (data.error) {
                                    alert('Please Wait ...');
                                }
                                else {
                                    var jsonobj = data.activities;
                                    var strhtml = '<tbody><tr><th>Name</th><th>Priority</th><th>Assigned To</th><th>Comment</th><th>Edit</th><th>Approve</th>';
                                    $(jsonobj).each(function () {
                                        var row = $(this)[0];
                                        if(row["status"]=='Completed')
                                        {
                                        strhtml += '<tr style="background-color: yellowgreen;"><td style="display: none">' + row["activity_id"] + '</td><td>' + row["activity_name"] + '</td><td>' + row["priority"] + '</td><td>' + row["username"] + '</td><td><button class="btn btn-sm">Comment</button></td><td><span class=\"ti-pencil\"></span></td><td>&check;</td></tr></tbody>';
                                        }
                                        else{
                                        strhtml += '<tr><td style="display: none">' + row["activity_id"] + '</td><td>' + row["activity_name"] + '</td><td>' + row["priority"] + '</td><td>' + row["username"] + '</td><td><button class="btn btn-sm">Comment</button></td><td><span class=\"ti-pencil\"></span></td><td>&check;</td></tr></tbody>';
                                        }
                                    });
                                    $("#activitiestbl").html(strhtml);


                                    /*<!------------------------------------------ Activities Comment ------------------------------------------>*/
                                    $( "#activitiestbl tr td:nth-child(5)" ).click(function() {
                                        $(this).data('clicked', true);
                                    });
                                    $("#activitiestbl tr").click(function () {
                                        activityid = $(this).children().closest("td").html();
                                        if ($(this).find(':nth-child(5)').data('clicked') === true) {
                                            alert("Add Comments");
                                            $("#add_commentform").show();
                                            $(this).find(':nth-child(5)').data('clicked', false);
                                        }
                                    });


                                    /*<!------------------------------------------ Activities Edit ------------------------------------------>*/
                                    $( "#activitiestbl tr td:nth-child(6)" ).click(function() {
                                        $(this).data('clicked', true);
                                    });

                                    $("#activitiestbl tr").click(function () {
                                        activityid = $(this).children().closest("td").html();
                                        if($(this).find(':nth-child(6)').data('clicked')===true){
                                            alert("Edit Activity");
                                            $("#editactivitydiv").show();
                                            var n=$(this).find(':nth-child(2)').html();
                                            var p=$(this).find(':nth-child(3)').html();
                                            var a2=$(this).find(':nth-child(4)').html();
                                            $("#editActivityname").val(n);
                                            $("#editActivityAssto").val(a2);
                                            $("#editActivitypriority").val(p);
                                            $(this).find(':nth-child(6)').data('clicked', false);
                                        }
                                    });

                                /*<!------------------------------------------ Activities Approve ------------------------------------------>*/
                                    $( "#activitiestbl tr td:nth-child(7)" ).click(function() {
                                        $(this).data('clicked', true);

                                    });

                                    $("#activitiestbl tr").click(function () {
                                        activityid = $(this).children().closest("td").html();
                                        if($(this).find(':nth-child(7)').data('clicked')===true) {
                                            alert("Approve Activity");
                                            $.ajax({
                                                data: {
                                                    proid: proj,
                                                    delid: delid,
                                                    activityid: activityid,
                                                },
                                                type: 'POST',
                                                url: 'http://127.0.0.1:5000/approveActivity'
                                            })
                                                .done(function (data) {
                                                    if (data.error) {
                                                        alert('Please Wait ...');
                                                    }
                                                    else {
                                                    }
                                                });
                                            event.preventDefault();

                                            $(this).find(':nth-child(7)').data('clicked', false);
                                        }
                                    });

                                }
                            });
                        event.preventDefault();
                    }
                    else
                    {
                        $( "#dels tr td:nth-child(5)" ).data('clicked',false);
                    }
                });
            });
        //------------------------------------------Submit Activity's Comment btn------------------------------------------>
            $(function () {
                $("#submit_comment_btn").click(function () {
                    var ctitle=$("#ctitle").val();
                    var cdesc=$("#cdesc").val();
                    var ctype=$("#ctype").val();

                    $.ajax({
                        data: {
                            proid: proj,
                            delid: delid,
                            activityid: activityid,
                            ctitle:ctitle,
                            cdesc:cdesc,
                            ctype:ctype
                        },
                        type: 'POST',
                        url: 'http://127.0.0.1:5000/submitActivitycomment'
                    })
                        .done(function (data) {
                            if (data.error) {
                                alert('Please Wait ...');
                            }
                            else {
                            }
                        });
                    event.preventDefault();
                });
            });
        //------------------------------------------Confirm Edit Activity btn------------------------------------------>
            $(function () {
                $("#editactivitybtn").click(function () {
                    var activityname=$("#editActivityname").val();
                    var activityassto=$("#editActivityAssto").val();
                    var activitypriority=$("#editActivitypriority").val();

                    $.ajax({
                        data: {
                            proid: proj,
                            delid: delid,
                            activityid: activityid,
                            activityname: activityname,
                            activityassto: activityassto,
                            activitypriority: activitypriority
                        },
                        type: 'POST',
                        url: 'http://127.0.0.1:5000/confirmEditActivity'
                    })
                        .done(function (data) {
                            if (data.error) {
                                alert('Please Wait ...');
                            }
                            else {
                            }
                        });
                    event.preventDefault();
                });
            });

        </script>
    {% endblock %}