<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <!--   Core JS Files   -->
    <script type="text/javascript" src="../static/assets/js/jquery.min.js" ></script>
	<script type="text/javascript" src="../static/assets/js/bootstrap.min.js" ></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script type="text/javascript" src="../static/assets/js/bootstrap-checkbox-radio.js"></script>

	<!--  Charts Plugin -->
	<script type="text/javascript" src="../static/assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
{#    <script type="text/javascript" src="../static/assets/js/bootstrap-notify.js"></script>#}

    <!--  Google Maps Plugin    -->
{#    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>#}

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script type="text/javascript" src="../static/assets/js/paper-dashboard.js"></script>
        {% block head %}
            {% block title %}
                SiteName
            {% endblock %}
        {% endblock %}

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="../static/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="../static/assets/css/paper-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../static/assets/css/demo.css" rel="stylesheet" />


    <!--  Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="../static/assets/css/themify-icons.css" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='samplechart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='chartist-plugin-axistitle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='chartist-plugin-tooltip.js') }}"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="black" data-active-color="success">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->
        {% block navbarlinks %}
        {% endblock %}
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href={{ url_for('view_dashboard') }} class="simple-text">
                    NESuite
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href={{ url_for('view_dashboard') }}>
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href={{ url_for('projects') }}>
                        <i class="ti-user"></i>
                        <p>Projects</p>
                    </a>
                </li>
                <li>
                    <a href="/customeranalysis">
                        <i class="ti-money"></i>
                        <p>Customer Analysis</p>
                    </a>
                </li>
                <li>
                    <a href="/reportsform">
                        <i class="ti-text"></i>
                        <p>Reports</p>
                    </a>
                </li>
                <li>
{#                    <a href="typography.html">#}
{#                        <i class="ti-text"></i>#}
{#                        <p>Typography</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="icons.html">#}
{#                        <i class="ti-pencil-alt2"></i>#}
{#                        <p>Icons</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="maps.html">#}
{#                        <i class="ti-map"></i>#}
{#                        <p>Maps</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="notifications.html">#}
{#                        <i class="ti-bell"></i>#}
{#                        <p>Notifications</p>#}
{#                    </a>#}
{#                </li>#}
				<li class="active-pro">
                    <a href={{ url_for('logout') }}>
                        <i class="ti-export"></i>
                        <p>LogOut</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>


    <div class="main-panel">

        {% block menuButtons %}

        {% endblock %}

        {% block body %}

        {% endblock %}

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="masterpage">
                                NESuite
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="masterpage">Team NESuite</a>
                </div>
            </div>
        </footer>

    </div>
</div>

<!--===========================Script for Forms===========================-->
{#
<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
</script>
#}
<!--===========================Script to Change Active Tab===========================-->
<script>
    $(function () {
        setNavigation();
    });
    function setNavigation(){
        var path =window.location.pathname;
        path = path.replace(/\/$/, "");
        path = decodeURIComponent(path);
        $( '.sidebar-wrapper .nav' ).find( 'li.active' ).removeClass( 'active' );
        $(".sidebar-wrapper .nav a").each(function(){
            var href = $(this).attr('href');
            if(path.substring(0,href.length) === href){
                $(this).closest('li').addClass('active');
            }
        })
    }

/*    $( '.sidebar-wrapper .nav a' ).on( 'click', function () {
	$( '.sidebar-wrapper .nav' ).find( 'li.active' ).removeClass( 'active' );
	$( this ).parent( 'li' ).addClass( 'active' );
});*/
</script>
</body>
</html>
