    {% extends 'masterpage.html' %}
    {% block head %}
        {{ super() }}

        <script src="{{ url_for('static', filename='samplechart.js') }}" xmlns=""></script>
        <script src="{{ url_for('static', filename='chartist-plugin-axistitle.js') }}"></script>

    {% endblock %}
    {% block menuButtons %}
        <nav class="navbar navbar-default">
            <div class="container-fluid"> <!-------- hasb e zaroorat shashkay ----------->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <input id="search" style="border-radius: 1em; border-color: "  placeholder="  Search Project...">

                              </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block body %}
        {% block navbarlinks %}
        {% endblock %}
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Projects</h4>
                                        <p class="category">In Process</p>
                                    </div>
                                    <div class="content table-responsive table-full-width table-wrapper-scroll-y">
                                        <table id="projs" class="table table-striped">
                                            <thead>
                                                <th>Project</th>
                                                <th>Type</th>
                                                <th>Phase</th>
                                                <th>Issues</th>
                                                <th>Start Date</th>
                                            </thead>
                                            <tbody>
                                                {% for result in c_proj %}
                                                    {% if result.status != 'Completed' %}
                                                        {% if result.phase != 'Closure' %}
                                                            <tr style="background-color: yellowgreen;">
                                                                <td style="display:none;">{{ result.project_id }}</td>
                                                                <td>{{ result.project_name}}</td>
                                                                <td>{{ result.project_type }}</td>
                                                                <td>{{ result.phase }}</td>
                                                                <td>{{ result.issues }}</td>
                                                                <td>{{ result.start_date }}</td>
                                                                <td>&check;</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% for result in ic_proj %}
                                                    {% if result.status != 'Completed' %}
                                                        {% if result.phase != 'Closure' %}
                                                        <tr>
                                                            <td style="display:none;">{{ result.project_id }}</td>
                                                            <td>{{ result.project_name}}</td>
                                                            <td>{{ result.project_type }}</td>
                                                            <td>{{ result.phase }}*</td>
                                                            <td>{{ result.issues }}</td>
                                                            <td>{{ result.start_date }}</td>
                                                            <td></td>
                                                        </tr>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!------------------------------------------ Search Function ------------------------------------------>

        <script>
            $("#search").on("keyup", function() {
                var value = $(this).val();

                $("#projs tr ").each(function(index) {
                    if (index !== 0) {

                        $row = $(this);

                        var id = $row.find("td:nth-child(2)").text();

                        if (id.indexOf(value) !== 0) {
                            $row.hide();
                        }
                        else {
                            $row.show();
                        }
                    }
                });
            });
        </script>

        <!------------------------------------------Close Project------------------------------------------>

        <script>
            $(function() {
                $( "#projs tr td:nth-child(7)" ).click(function() {
                    $(this).data('clicked', true);
                    var p_id=$(this).closest('tr').children().closest("td").html();
                    alert(p_id);

                    $.ajax({
                        data:{
                            p_id: p_id
                        },
                        type: 'POST',
                        url: 'http://127.0.0.1:5000/submitproject'
                        })
                        .done(function (data) {
                                if (data.error){
                                    alert('Please Wait ...');
                                }
                                else {
                                    location.reload(true);
                                }
                            });
                        event.preventDefault();
                });
            });
        </script>


        <!------------------------------------------Project's Details Pop-up------------------------------------------>
        <script>
            $(function() {
                $( "#projs tr" ).click(function() {
                    alert('parent');
                    if(($("#projs tr td:nth-child(7)" ).data('clicked')===false)) {
                        var a = $(this).children().closest("td").html();
                        document.body.innerHTML += '<form id="dynForm" action="{{ url_for('leader_deliverables') }}" method="post"><input type="hidden" name="proid" value='+a+'> </form>';
                        document.getElementById("dynForm").submit();
                    }
                    else
                    {
                        $( "#projs tr td:nth-child(7)" ).data('clicked',false);
                    }
                });
            });
        </script>
    {% endblock %}