{#    {% extends 'masterpage.html' %}#}
    {% block title %}
    {% endblock %}
    {% block head %}
{#        {{ super() }}#}
    {% endblock %}

    {% block body %}
        {# ------------------------------------------------------------ Loader On Rediect ----------------------------------------------------------------------- #}

        <div id="loading" style="display: none;text-align: center;z-index: 9999999999999999999999999999;">
            <img src="../static/Login/images/img-01.png" id="Img5" data-transition="slide" />
        </div>

        {# ------------------------------------------------------------ Loader On Rediect ----------------------------------------------------------------------- #}
        {% if colcount|length <= 0 %}
            <div class="content" id="mainDiv">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h1 class="title" style="text-align: center">No records Found !</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}

        <div class="content" id="mainDiv">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title" style="text-align: center">{{ startDate }} {{ endDate }}</h4>
                                        <h4 class="title" style="text-align: center">Portfolio Targets - MPS</h4>
                                        <p class="category" style="text-align: center">Oct 2018 - 2020</p>
                                    </div>
                                    <div class="content table-responsive table-full-width">
                                        <table id="projs" class="table table-striped table-bordered">
                                                <tr>
                                                <th rowspan="3">System<br>/Product</th>

                                                    <th rowspan="2">Set</th>
                                                    <th rowspan="2">Funding</th>

                                                    <th colspan="3" rowspan="2">% Alloc.</th>

                                                    {% for colSpan in range(monthsColSpan|length) %}
                                                        <th colspan="{{ monthsColSpan[colSpan] }}">{{ yearHeaders[colSpan] }}</th>
                                                    {% endfor %}

{#                                                    <th>Total</th>#}
{#                                                    <th>Remarks</th>#}

                                                </tr>

                                                <tr>

{#                                                    {% for months in range(0,20) %}#}
{#                                                        <th>&nbsp</th>#}
{#                                                    {% endfor %}#}
                                                    {% for key,value in monthsInterval.items() %}
                                                        <th>&nbsp</th>
                                                    {% endfor %}

                                                </tr>

                                                <tr>

                                                    <th>No.</th>
                                                    <th>Qty</th>

                                                    <th>FY</th>
                                                    <th>Ph-1</th>
                                                    <th>Ph-2</th>

                                                    {% for key,value in monthsInterval.items() %}
                                                        <th>{{ value }}</th>
                                                    {% endfor %}

{#                                                    <th>&nbsp;</th>#}
{#                                                    <th>&nbsp;</th>#}
                                                </tr>

                                        {% for counter in range(lstunique_portfolios|length) %}
                                                <tr>
                                                    <td><b><i>{{ lstunique_portfolios[counter] }}</i></b></td>
                                                </tr>
                                                {% for innerCounter in range((pjs[counter])|length) %}
                                                        <tr>

                                                            <td>{{ pjs[counter][innerCounter]}}</td>
                                                            <td>&nbsp;</td>
                                                            <td><!--{{ qty[counter][innerCounter] }}--></td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>

                                                            {% for ic in range((colcount[innerCounter])) %}               {#Empty Cols after#}
                                                                <td>&nbsp;</td>
                                                            {% endfor %}

                                                            <td>{{ qty[counter][innerCounter] }}</td>                   {# QTY #}

                                                            {% if colcount[innerCounter] < colcount|sort|last %}
                                                                {% for i in range((colcount|sort|last) - (colcount[innerCounter])) %}
                                                                    <td>&nbsp;</td>                                     {# Empty Cols before #}
                                                                {% endfor %}
                                                            {% endif %}

{#                                                            <td>{{ qty[counter][innerCounter] }}</td>                                             {# Total #}
{#                                                            <td>&nbsp;</td>                                             Remarks #}
                                                        </tr>
                                                {% endfor %}
                                        {% endfor %}

{#                                        {% for project in projects %}#}
{#                                                <tr>#}
{#                                                    <td>{{ project.project_name }}</td>#}
{#                                                    <td>&nbsp</td>#}
{#                                                    <td>{{ project.quantity }}</td>#}
{#                                                </tr>#}
{#                                        {% endfor %}#}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <script>
        $(window).onload(function()
        {
            alert("Hello");
            $('#mainDiv').style.display='none';
            $('#loading').style.display='block';
        });
         </script>
        {% endif %}
    {% endblock %}